/*
Error: Invalid CSS after "...mary-color:    ": expected expression (e.g. 1px, bold), was "#55555;"
        on line 12 of sass/style.default.scss

7: 
8: 
9: 
10: /* Custom *\/
11: 
12: $primary-color:    #55555;
13: $navbar-color:     #55555;
14: 
15: /* Basics *\/
16: $white:            #fff;
17: $white-all:        #ffffff;

Backtrace:
sass/style.default.scss:12
/Users/adamtait/.rbenv/versions/2.5.0/lib/ruby/gems/2.5.0/gems/sass-3.5.5/lib/sass/scss/parser.rb:1278:in `expected'
/Users/adamtait/.rbenv/versions/2.5.0/lib/ruby/gems/2.5.0/gems/sass-3.5.5/lib/sass/script/lexer.rb:231:in `expected!'
/Users/adamtait/.rbenv/versions/2.5.0/lib/ruby/gems/2.5.0/gems/sass-3.5.5/lib/sass/script/parser.rb:724:in `assert_expr'
/Users/adamtait/.rbenv/versions/2.5.0/lib/ruby/gems/2.5.0/gems/sass-3.5.5/lib/sass/script/parser.rb:68:in `parse'
/Users/adamtait/.rbenv/versions/2.5.0/lib/ruby/gems/2.5.0/gems/sass-3.5.5/lib/sass/scss/parser.rb:1134:in `sass_script'
/Users/adamtait/.rbenv/versions/2.5.0/lib/ruby/gems/2.5.0/gems/sass-3.5.5/lib/sass/scss/parser.rb:642:in `variable'
/Users/adamtait/.rbenv/versions/2.5.0/lib/ruby/gems/2.5.0/gems/sass-3.5.5/lib/sass/scss/parser.rb:696:in `block_child'
/Users/adamtait/.rbenv/versions/2.5.0/lib/ruby/gems/2.5.0/gems/sass-3.5.5/lib/sass/scss/parser.rb:686:in `block_contents'
/Users/adamtait/.rbenv/versions/2.5.0/lib/ruby/gems/2.5.0/gems/sass-3.5.5/lib/sass/scss/parser.rb:137:in `stylesheet'
/Users/adamtait/.rbenv/versions/2.5.0/lib/ruby/gems/2.5.0/gems/sass-3.5.5/lib/sass/scss/parser.rb:41:in `parse'
/Users/adamtait/.rbenv/versions/2.5.0/lib/ruby/gems/2.5.0/gems/sass-3.5.5/lib/sass/engine.rb:414:in `_to_tree'
/Users/adamtait/.rbenv/versions/2.5.0/lib/ruby/gems/2.5.0/gems/sass-3.5.5/lib/sass/engine.rb:290:in `render'
/Users/adamtait/.rbenv/versions/2.5.0/lib/ruby/gems/2.5.0/gems/sass-3.5.5/lib/sass/plugin/compiler.rb:464:in `update_stylesheet'
/Users/adamtait/.rbenv/versions/2.5.0/lib/ruby/gems/2.5.0/gems/sass-3.5.5/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/Users/adamtait/.rbenv/versions/2.5.0/lib/ruby/gems/2.5.0/gems/sass-3.5.5/lib/sass/plugin/compiler.rb:209:in `each'
/Users/adamtait/.rbenv/versions/2.5.0/lib/ruby/gems/2.5.0/gems/sass-3.5.5/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/Users/adamtait/.rbenv/versions/2.5.0/lib/ruby/gems/2.5.0/gems/sass-3.5.5/lib/sass/plugin.rb:82:in `update_stylesheets'
/Users/adamtait/.rbenv/versions/2.5.0/lib/ruby/gems/2.5.0/gems/sass-3.5.5/lib/sass/exec/sass_scss.rb:340:in `watch_or_update'
/Users/adamtait/.rbenv/versions/2.5.0/lib/ruby/gems/2.5.0/gems/sass-3.5.5/lib/sass/exec/sass_scss.rb:51:in `process_result'
/Users/adamtait/.rbenv/versions/2.5.0/lib/ruby/gems/2.5.0/gems/sass-3.5.5/lib/sass/exec/base.rb:52:in `parse'
/Users/adamtait/.rbenv/versions/2.5.0/lib/ruby/gems/2.5.0/gems/sass-3.5.5/lib/sass/exec/base.rb:19:in `parse!'
/Users/adamtait/.rbenv/versions/2.5.0/lib/ruby/gems/2.5.0/gems/sass-3.5.5/bin/sass:13:in `<top (required)>'
/Users/adamtait/.rbenv/versions/2.5.0/bin/sass:23:in `load'
/Users/adamtait/.rbenv/versions/2.5.0/bin/sass:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"...mary-color:    \": expected expression (e.g. 1px, bold), was \"#55555;\"\A         on line 12 of sass/style.default.scss\A \A 7: \A 8: \A 9: \A 10: /* Custom */\A 11: \A 12: $primary-color:    #55555;\A 13: $navbar-color:     #55555;\A 14: \A 15: /* Basics */\A 16: $white:            #fff;\A 17: $white-all:        #ffffff;"; }
